.row
  .col-lg-12
    %h1
      Sign up
  .col-lg-12
    = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form', :class => 'form-horizontal' } do |f|

      .form-group{:class => resource.errors.has_key?(:email) ? 'has-error' : ''}
        .col-lg-2.control-label
          = f.label :email
        .col-lg-8
          = f.email_field :email, :autofocus => true, :class => 'form-control'

      .form-group{:class => resource.errors.has_key?(:password) ? 'has-error' : ''}
        .col-lg-2.control-label
          = f.label :password
        .col-lg-8
          = f.password_field :password, :class => 'form-control'

      .form-group{:class => resource.errors.has_key?(:password_confirmation) ? 'has-error' : ''}
        .col-lg-2.control-label
          = f.label :password_confirmation
        .col-lg-8
          = f.password_field :password_confirmation, :class => 'form-control'

      .form-group
        .col-lg-2.control-label
        .col-lg-8
          = f.submit "Sign up", :class => 'btn btn-default'
