.backlog-item
  .row
    .col-lg-10.col-lg-offset-1
      %h1
        = @task.name

      = form_for @task, url: task_path(@task.backlog_item, @task), :method => :put, :html => { :role => "form", :class => "form-horizontal" } do |f|
        .form-group{:class => @task.errors.has_key?(:name) ? 'has-error' : ''}
          .col-lg-2.control-label
            = f.label :name
          .col-lg-8
            = f.text_field :name, :class => "form-control", :placeholder => @task.errors[:name].join('')

        .form-group
          .col-lg-2.control-label
          .col-lg-8
            = f.submit "Update", :class => 'btn btn-default'
            = link_to "Cancel", backlog_item_path(@task.backlog_item), :class => 'btn btn-danger'
