.backlog-item
  .row
    .col-lg-10.col-lg-offset-1
      %h1
        = @backlog_item.name

      = form_for @backlog_item, url: update_backlog_item_path(@backlog_item), :html => { :role => "form", :class => "form-horizontal" } do |f|
        .form-group{:class => @backlog_item.errors.has_key?(:name) ? 'has-error' : ''}
          .col-lg-2.control-label
            = f.label :name
          .col-lg-8
            = f.text_field :name, :class => "form-control", :placeholder => @backlog_item.errors[:name].join('')

        .form-group
          .col-lg-2.control-label
          .col-lg-8
            = f.submit "Update", :class => 'btn btn-default'
            %hr

        .form-group
          .col-lg-2.control-label
            %label
              Status
          .col-lg-8.status
            - if @backlog_item.tasks.empty?
              .danger
                %strong
                  No work!
            - else
              - if @backlog_item.tasks.remaining.empty?
                .success
                  %strong
                    Done!
              - else
                .warning
                  %strong
                    Not done!
            %hr

        .form-group
          .col-lg-2.control-label
            %label
              Tasks
          .col-lg-8
            .tasks
              %table.table.tasks
                - if @backlog_item.tasks.empty?
                  %tr
                    %td
                      %em
                        No tasks
                - else
                  - @backlog_item.tasks.each do |task|
                    %tr
                      %td
                        .pull-left
                          = link_to toggle_completed_task_path(@backlog_item, task), :title => "Complete task" do
                            %i.icon-ok{ :class => task.completed ? 'completed' : '' }
                            = task.name

                        .pull-right
                          = link_to task_path(@backlog_item, task), :title => "Edit task" do
                            %i.icon-pencil
                          = link_to delete_task_path(@backlog_item, task), :method => :delete, :title => "Remove task", :data => { confirm: "Are you sure?" } do
                            %i.icon-remove

              = link_to new_task_path(@backlog_item), :title => "New task" do
                %i.icon-plus
            %hr

        .form-group
          .col-lg-2.control-label
            %label
              Caution
          .col-lg-8
            = link_to "Delete", @backlog_item, :method => :delete, :id => "remove", :class => "btn btn-danger", :data => { confirm: "Are you sure?" }
