.backlog-item
  = form_for @backlog_item, url: update_backlog_item_path(@backlog_item) do |f|
    = f.label :name
    = f.text_field :name
    = f.submit :class => 'btn btn-success'

  = button_to "Delete", @backlog_item, :method => :delete, :class => 'btn btn-danger'
