.backlog-item
  .row
    .col-lg-6.col-lg-offset-3
      - if @backlog_item.errors.any?
        %div.alert.alert-danger
          %strong
            Errors
          %ul
            - @backlog_item.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-lg-8.col-lg-offset-2
      = form_for @backlog_item, url: update_backlog_item_path(@backlog_item), :html => { :role => "form", :class => "form-horizontal" } do |f|
        .form-group
          .col-lg-2.control-label
            = f.label :name
          .col-lg-8
            = f.text_field :name, :class => "form-control"

        .form-group
          .col-lg-2.control-label
          .col-lg-8
            = f.submit "Update", :class => 'btn btn-default'
            %hr

        .form-group
          .col-lg-2.control-label
            %label= "Completed"
          .col-lg-8
            = link_to toggle_complete_backlog_item_path(@backlog_item), :id => "toggle" do
              %i.glyphicon.glyphicon-ok.form-control-static{ :class => @backlog_item.completed ? 'completed' : 'not-completed' }
            %hr

        .form-group
          .col-lg-2.control-label
            %label= "Caution"
          .col-lg-8
            = link_to "Delete", @backlog_item, :method => :delete, :id => "remove", :class => "btn btn-danger", :data => { confirm: "Are you sure?" }
