.backlog
  .row
    .col-lg-10.col-lg-offset-1
      %h1= "This Week"

      %table.table
        - if @backlog_items.empty?
          %tr
            %td
              %em
                No backlog items
        - else
          - @backlog_items.each do |backlog_item|
            %tr
              %td
                .status.pull-left
                  - if backlog_item.tasks.remaining.empty?
                    = link_to toggle_complete_backlog_item_path(backlog_item), :id => "toggle-#{backlog_item.id}" do
                      %i.icon-ok{ :class => backlog_item.completed ? 'completed' : '' }
                  - else
                    %div
                      = backlog_item.tasks.remaining.count
                = link_to backlog_item.name, backlog_item_path(backlog_item)

                .edit-controls.pull-right
                  = link_to backlog_item_path(backlog_item) do
                    %i.icon-pencil
                  = link_to backlog_item, :method => :delete, :title => "Remove item", :id => "remove-#{backlog_item.id}", :data => { confirm: "Are you sure?" } do
                    %i.icon-remove
