.row
  .col-lg-8.col-lg-offset-2
    %h2= "This Week"

    %table.table
      - @backlog_items.each do |backlog_item|
        %tr{:class => ('success' if backlog_item.completed)}
          %td
            %a{:href => backlog_item_path(backlog_item)}= backlog_item.name
            = button_to "Delete", backlog_item, :method => :delete, :class => "btn btn-danger"
            = form_for backlog_item, url: update_backlog_item_path(backlog_item) do |f|
              - if backlog_item.completed
                = f.hidden_field :completed, :value => false
                = f.submit "Reopen", :class => 'btn btn-info'
              - else
                = f.hidden_field :completed, :value => true
                = f.submit "Complete", :class => 'btn btn-success'

    = link_to "Create Backlog item", new_backlog_item_path, :class => "btn btn-success"
