.backlog
  .row
    .col-lg-8.col-lg-offset-2
      %h1= "This Week"

      %table.table
        - if @backlog_items.empty?
          %tr.backlog-item-row
            %td
              %em
                No backlog items
        - else
          - @backlog_items.each do |backlog_item|
            %tr.backlog-item-row
              %td
                .pull-left
                  = link_to toggle_complete_backlog_item_path(backlog_item), :id => "toggle-#{backlog_item.id}" do
                    %i.glyphicon.glyphicon-ok{ :class => backlog_item.completed ? 'completed' : 'not-completed' }
                  = link_to backlog_item, :method => :delete, :id => "remove-#{backlog_item.id}" do
                    %i.glyphicon.glyphicon-remove
                  = link_to backlog_item.name, backlog_item_path(backlog_item)
