.row
  .col-lg-10.col-lg-offset-1
    %nav.navbar.navbar-default{:role => "navigation"}
      .navbar-header
        = link_to backlog_path, :class => "navbar-brand" do
          %i.icon-list

      %div.collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to new_backlog_item_path, :title => "New Item" do
              %i.icon-plus
          %li
            = link_to archive_backlog_path, :title => "Archive" do
              %i.icon-archive
          %li
            = link_to edit_user_registration_path, :title => "Account Settings" do
              %i.icon-cog
          %li
            = link_to destroy_user_session_path, :method => :delete, :title => "Sign Out" do
              %i.icon-signout
