!!! 5
%html
  %head
    %title= "Backlog"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .row
      .col-lg-8.col-lg-offset-2
        %nav.navbar.navbar-default{:role => "navigation"}
          .navbar-header
            = link_to backlog_path, :class => "navbar-brand" do
              %i.glyphicon.glyphicon-list

          %div.collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                .navbar-form
                  .form-group
                    = link_to "New Item", new_backlog_item_path, :class => 'btn btn-success'

    = yield
