!!! 5
%html
  %head
    %title= "#{yield(:title) + " | " if content_for?(:title)}Backlog"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      = render "layouts/navigation" unless @without_navigation or not user_signed_in?

      = yield
